body {
    background-color: rgb(250, 181, 153);
    padding: 24px;
    text-align: center;
}

.container {
    background-color: lightsalmon;
    padding: 12px;
}

img {
    width: 400px;
    height: auto;
}

p {
    margin: 34px;
    text-align: center ;
}

li {
    list-style: none;
}