body {
    background-color: rgb(151, 126, 116);
    padding: 24px;
    text-align: center;
}

.container {
    background-color: rgb(206, 181, 171);
    padding: 12px;
}

img {
    width: 400px;
    height: auto;
}

p {
    margin: 34px;
    text-align: center ;
}

li {
    list-style: none;
}