body {
    background-color: rgb(144, 205, 205);
    padding: 12px;
}

h1 {
    background-color: aquamarine;
    text-align: center;
    padding: auto;
}
.recipe {
    background-color: aliceblue;
    padding: 12px;
    margin: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    color: black;
}

a {
    text-decoration: none;
    color: blue;
}

img {
    display: block;
    width: 400px;
    height: auto;
}

li {
   list-style: none; 
}